<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="/hx1903/Ym-master/public/index.php/alipay/pay/payPage" method="POST">
        <p>
        <span>订单号</span>
        <input type="text" name="WIDout_trade_no">
        </p>
        <p>
            <span>订单名称</span>
            <input type="text" name="WIDsubject">
        </p>
        <p>
                <span>订单金额</span>
                <input type="text" name="WIDtotal_amount">
        </p>
        <p>
                <span>订单描述</span>
                <input type="text" name="WIDbody">
        </p>
        <p>
            <input type="submit" name="" id="" value="提交">
        </p>
    </form>
    -
    
</body>
</html>