<!DOCTYPE html>
<html  lang="zh-CN">
<head>
	<title>少年郎家政—服务页面</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

	<link href="../../../static/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="../../../static/plugins/swiper/css/swiper.min.css">
	<link rel="stylesheet" href="../../../static/plugins/layui/css/layui.css"  media="all">
	<link href="../../../static/home/css/top.css" rel="stylesheet">
	<link href="../../../static/home/css/foot.css" rel="stylesheet">
	<link href="../../../static/home/css/entrybox.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="../../../static/home/css/service.css">
	<link rel="shortcut icon" href="/hx1903/Ym-master/public/static/admin/images/favicon.ico" type="image/x-icon">
	<link rel="stylesheet" type="text/css" href="/hx1903/Ym-master/public/static/home/homeChat/font_Icon/iconfont.css">
	<link rel="stylesheet" type="text/css" href="/hx1903/Ym-master/public/static/home/homeChat/css/chat.css">

</head>
<body onbeforeunload ="window.sessionStorage.removeItem('navServiceId');">
	<!-- 头部 -->
<header>
        <nav class="navbar navbar-default">
        <div id="backbanner">
            <div class="headerDiv"  style="background-color: #f8f8f8">
            <div class="container">
                <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img src="../../../static/home/images/index/logo.png" class="headimg img-responsive" >
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav"  id="titleBox">
                    <li><a href="/hx1903/Ym-master/public/">少年郎首页</a></li>
                    <li><a href="/hx1903/Ym-master/public/index.php/home/service/service" style="color: coral">优质服务</a></li>
                    <li><a href="/hx1903/Ym-master/public/index.php/home/activity/activity" >热门活动</a></li>
                    <li><a href="/hx1903/Ym-master/public/index.php/home/Offer/offer" >应聘职位</a></li>
                </ul>
                    <ul class="nav navbar-nav navbar-right unLogin">
                    <button  type="button" class="btn btn-primary" onclick="loginShow()">登录</button>
                    <button  type="button" class="btn btn-info" onclick="regShow()">注册</button>
                </ul>
                <ul  class="nav navbar-nav navbar-right tiaozhuan" style="display: none">
                    <li  id="huanying">欢迎您：<span id="UserAccount" ></span>
                    <div id="zhuxiao">
                        <a  href="/hx1903/Ym-master/public/home/myself/myself"><p>个人中心</p></a>
                        <p  onclick="exitUser()">注销</p>
                    </div>
                    </li>
                </ul>
                </div>
            </div>
            </div>
            </div>
        </nav>
</header>

  	<div class="swiper-container">
	   	 <div class="swiper-wrapper">
	        <div class="swiper-slide"><img src="../../../static/home/images/service/banner.jpg"></div>
	        <div class="swiper-slide"><img src="../../../static/home/images/service/banner2.jpg"></div>
	        <div class="swiper-slide"><img src="../../../static/home/images/service/banner3.jpg"></div>
	    </div>
	    <!-- 如果需要分页器 -->
	    <div class="swiper-pagination"></div>
	    
	    <!-- 如果需要导航按钮 -->
	    <div class="swiper-button-prev"></div>
	    <div class="swiper-button-next"></div>
	    
	   
	</div>
	<div id="myService">
	  	<div id="nav" class="container row">
	  		
	  		<div v-if="screenWidth>992">
	  			
	  				<button type="button" class="btn btn-info col-md-2 column" v-on:click="getService()" onclick="window.sessionStorage.removeItem('navServiceId');">全部</button>
	  			
	  			{volist name='navList' id='item'}
	  			
	  				<button type="button" class="btn btn-info  col-md-2 column" v-on:click="getService(1,{$item.id})">{$item.name}</button>

	  			
	  			{/volist}
	  			
	  		</div>
	  		<div v-if="screenWidth<767">
	  			
	  				<button type="button" class="btn btn-info col-md-2 column" v-on:click="getService()" onclick="window.sessionStorage.removeItem('navServiceId');"onclick="window.sessionStorage.removeItem('navServiceId');">全部</button>
	  			
	  			{volist name='navList' id='item'}
	  				
	  				<button type="button" class="btn btn-info  col-md-2 column" v-on:click="getService(1,{$item.id})">{$item.name}</button>

	  			
	  			{/volist}
	  			
	  		</div>
	  	</div>
	  	<h3 id="productBg" >我们的优质服务:</h3>
	    <div id="serviceBody" class="container row" style="margin: 0 auto">
	    </div>
		<div id="demo20" style="    margin: 0 auto;
    width: 300px;"></div>
		

	    
    </div>

    <!-- 右侧点击组 -->
	  <div class="entrybox">
	    <div class="scan smallIcon">
	      <div class="scancode"></div>
	    </div>
	    <div class="weixin smallIcon">
	      <div class="weixincode"></div>
	    </div>
	    <div class="top smallIcon" onclick="toTop()"></div>
	  </div>

	  <!-- 注册模块Modal -->
	  <div class="modal fade" id="regBox" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
	    style=" margin-top: 133px;">
	    <div class="modal-dialog" role="document">
	      <div class="modal-content">
	        <div class="modal-header">
	          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
	              aria-hidden="true">&times;</span></button>
	          <h4 class="modal-title titles"></h4>
	        </div>
	        <div class="modal-body">
	          <div class="input-group" style="width: 65%;margin: 0 auto">
	            <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-phone"></span></span>
	            <input type="text" class="form-control phoneNum" placeholder="填写11位手机号" aria-describedby="basic-addon1">
	            <!-- <p></p> -->
	          </div>
	          <div class="msg"></div>
	          <div class="input-group" style="width: 65%;margin: 0 auto">
	            <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-user"></span></span>
	            <input type="text" class="form-control name" placeholder="请输入您的昵称" aria-describedby="basic-addon1">
	            <!-- <p></p> -->
	          </div>
	          <div class="msg"></div>
	          <div class="input-group" style="width: 65%;margin: 0 auto">
	            <input type="text" class="form-control myCode" style="width: 200px;margin-right: 20px" placeholder="请输入验证码"
	              aria-describedby="basic-addon1">
	            <button onclick="getCode()" class="btn btn-info" style="height: 43px;">点击获取短信码</button>
	          </div>

	          <div style="height: 20px"></div>
	          <div class="input-group" style="width: 65%;margin: 0 auto;text-align: center;">
	            <button type="button" class="btn btn-lg btn-block" style="background: #5bc0de;color: white;"
	              onclick="regUser()">创建用户</button>
	            <div style="height: 20px"></div>
	            <p> <a href="#" style="color:orangered; font-size: 18px;" onclick="loginShow()"> 已有账号，立即登录 </a></p>
	          </div>
	        </div>
	      </div>
	    </div>
	  </div>
	  <!-- 登录模块Modal -->
	  <div class="modal fade" id="loginBox" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
	    style="margin-top: 133px;">
	    <div class="modal-dialog" role="document">
	      <div class="modal-content">
	        <div class="modal-header">
	          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
	              aria-hidden="true">&times;</span></button>
	          <h4 class="modal-title titles"></h4>
	        </div>
	        <div class="modal-body">
	          <div class="input-group" style="width: 65%;margin: 0 auto">
	            <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-user"></span></span>
	            <input type="text" class="form-control username" placeholder="请输入注册的手机号码" aria-describedby="basic-addon1">
	          </div>
	          <div style="height: 20px"></div>
	          <div class="input-group" style="width: 65%;margin: 0 auto">
	            <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-lock"></span></span>
	            <input type="password" class="form-control password" placeholder="请输入登录密码" aria-describedby="basic-addon1">
	          </div>
	          <div style="height: 20px"></div>
	          <div style="width: 65%;margin: 0 auto">
	            <!-- <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-lock"></span></span> -->
	            <input type="text" class="form-control code" placeholder="请输入验证码" aria-describedby="basic-addon1">
	            <img id="codeImg" onclick="this.src='{:captcha_src()}?'+Math.random()" src="{:captcha_src()}"
	              alt="captcha" />
	          </div>

	          <div style="height: 20px"></div>
	          <div class="input-group" style="width: 65%;margin: 0 auto;text-align: center;">
	            <button type="button" class="btn  btn-lg btn-block" onclick="loginUser()"
	              style="background:#5bc0de;color: white;">登录</button>
	            <div style="height: 20px"></div>
	            <p> <a href="#" style="color: orangered; font-size: 18px;" onclick="regShow()"> 立即注册 </a></p>
	          </div>
	        </div>
	      </div>
	    </div>
	  </div>

<!-- 聊天界面 -->
  
<div class="chatContainer">
    <!-- <div class="chatBtn">
        <i class="iconfont icon-xiaoxi1"></i>
    </div> -->
    <div class="chatBox" ref="chatBox">
        <div class="chatBox-head">
            <div class="chatBox-head-one">
                客服
                <div class="chat-close" style="margin: 10px 10px 0 0;font-size: 14px">关闭</div>
            </div>
            <div class="chatBox-head-two">
                <div class="chat-return">返回</div>
                <div class="chat-people">
                    <div class="ChatInfoHead">
                        <img src="" alt="头像"/>
                    </div>
                    <div class="ChatInfoName">这是用户的名字，看看名字到底能有多长</div>
                </div>
                <div class="chat-close">关闭</div>
            </div>
        </div>
        <div class="chatBox-info">
            <div class="chatBox-list" ref="chatBoxlist">
                <div class="chat-list-people">
                    <div><img src="/hx1903/Ym-master/public/static/home/homeChat/img/icon01.png" alt="头像"/></div>
                    <div class="chat-name">
                        <p>客服</p>
                    </div>
                </div>
            </div>
            <div class="chatBox-kuang" ref="chatBoxkuang">
                <div class="chatBox-content">
                    <div class="chatBox-content-demo" id="chatBox-content-demo">

                        <!-- <div class="clearfloat">
                            <div class="author-name">
                                <small class="chat-date">2017-12-02 14:26:58</small>
                            </div>
                            <div class="left">
                                <div class="chat-avatars"><img src="img/icon01.png" alt="头像"/></div>
                                <div class="chat-message">
                                    给你看张图
                                </div>
                            </div>
                        </div> -->

                        <!-- <div class="clearfloat">
                            <div class="author-name">
                                <small class="chat-date">2017-12-02 14:26:58</small>
                            </div>
                            <div class="left">
                                <div class="chat-avatars"><img src="img/icon01.png" alt="头像"/></div>
                                <div class="chat-message">
                                    <img src="img/1.png" alt="">
                                </div>
                            </div>
                        </div> -->
<!-- 
                        <div class="clearfloat">
                            <div class="author-name">
                                <small class="chat-date">2017-12-02 14:26:58</small>
                            </div>
                            <div class="right">
                                <div class="chat-message">嗯，适合做壁纸</div>
                                <div class="chat-avatars"><img src="img/icon02.png" alt="头像"/></div>
                            </div>
                        </div> -->

                    </div>
                </div>
                <div class="chatBox-send">
                    <div class="div-textarea" contenteditable="true"></div>
                    <div>
                        <button id="chat-biaoqing" class="btn-default-styles">
                            <i class="iconfont icon-biaoqing"></i>
                        </button>
                        <label id="chat-tuxiang" title="发送图片" for="inputImage" class="btn-default-styles">
                            <input type="file" onchange="selectImg(this)" accept="image/jpg,image/jpeg,image/png"
                                   name="file" id="inputImage" class="hidden">
                            <i class="iconfont icon-tuxiang"></i>
                        </label>
                        <button id="chat-fasong" class="btn-default-styles"><i class="iconfont icon-fasong"></i>
                        </button>
                    </div>
                    <div class="biaoqing-photo">
                        <div id="phiz">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  	<script src="../../../static/plugins/layui/layui.js" charset="utf-8"></script>
  	<script type="text/javascript" src="../../../static/jq.js"></script>

	<script type="text/javascript" src="../../../static/plugins/bootstrap/js/bootstrap.js"></script>
	<script src="../../../static/plugins/swiper/js/swiper.min.js"></script>

	<script type="text/javascript" src="../../../static/vue.js"></script>
	 <script type="text/javascript" src="../../../static/axios.js"></script>
	 <script type="text/javascript" src="../../../static/home/js/index.js"></script> 
	<script type="text/javascript" src="../../../static/home/js/service.js"></script>
	<script type="text/javascript" src="/hx1903/Ym-master/public/static/home/homeChat/js/homeChat.js"></script>

</body>
</html>