<!--
 * @Description: In User Settings Edit
 * @Author: your name
 * @Date: 2019-09-02 15:18:30
 * @LastEditTime: 2019-09-02 20:29:37
 * @LastEditors: Please set LastEditors
 -->

<!DOCTYPE html>
<html lang="en" class="no-js">

    <head>
        <meta charset="utf-8">
        <title>少年郎后台登录</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <!-- CSS -->
        <link rel="stylesheet" href="/hx1903/Ym-master/public/static/admin/css/reset.css">
        <link rel="stylesheet" href="/hx1903/Ym-master/public/static/admin/css/supersized.css">
        <link rel="stylesheet" href="/hx1903/Ym-master/public/static/admin/css/style.css">
        <link rel="shortcut icon" href="/hx1903/Ym-master/public/static/admin/images/favicon.ico" type="image/x-icon">

        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

    </head>

    <body>

        <div class="page-container">
            <h1>后台登录</h1>
            <form>
                <input type="text" name="username" class="username" placeholder="用户名">
                <input type="password" name="password" class="password" placeholder="用户密码">
                <input type="text" name="code"  class="code" placeholder="请输入验证码">
                <a class="img-code">
                    <img id="codeImg" onclick="this.src='{:captcha_src()}?'+Math.random()" src="{:captcha_src()}" alt="captcha"/>
                </a>
                <button type="button" onclick="login()">登录</button>
                <div class="error"><span>+</span></div>
            </form>
        </div>
        <!-- Javascript -->
        <script src="/hx1903/Ym-master/public/static/admin/js/jquery-1.8.2.min.js"></script>
        <script src="/hx1903/Ym-master/public/static/admin/js/supersized.3.2.7.min.js"></script>
        <script src="/hx1903/Ym-master/public/static/admin/js/supersized-init.js"></script>
        <script src="/hx1903/Ym-master/public/static/admin/js/scripts.js"></script>
        <script src="/hx1903/Ym-master/public/static/admin/js/login.js"></script>


    </body>

</html>

